<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geniusnine.android.financialcalculators">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Financial"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tvm"
            android:label="TVM Calculator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Financial" />
        </activity>
        <activity
            android:name=".CurrencyConverter"
            android:label=" Currency Converter">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Financial" />
        </activity>
        <activity
            android:name=".LoanCalculator"
            android:label="Loan Calculator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Financial" />
        </activity>
        <activity
            android:name=".CompoundInterestCal"
            android:label="Compound Interest Calculator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Financial" />
        </activity>
        <activity
            android:name=".CreditCardPayoff"
            android:label="Credit Card Payoff">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Financial" />
        </activity>
        <activity
            android:name=".TipCalculator"
            android:label="Tip Calculator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Financial" />
        </activity>
        <activity
            android:name=".APRCalculator"
            android:label="APR Calculator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Financial" />
        </activity>
        <activity
            android:name=".ROI"
            android:label="Return on Investment(ROI)">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Financial" />
        </activity>
        <activity android:name=".AutoLoanCalculator"
            android:label="Auto Loan Calculator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Financial" />
        </activity>
        <activity android:name=".CreditCardMiniumPayment"
            android:label="Credit Card Minium Payment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Financial" />
        </activity>
        <activity android:name=".DiscountTaxCalculator"
            android:label="Discount Tax Calculator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Financial" />
        </activity>

        <activity android:name=".IrrNpvCalculator"
            android:label="IRR NPV Calculator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Financial" />
        </activity>
        <activity android:name=".PercentageCalculator"
            android:label="Percentage Calculator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Financial" />
        </activity>
        <activity android:name=".BondCalculator"
            android:label="Bond Calculator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Financial" />
        </activity>
        <activity android:name=".StockCalculator"
            android:label="Stock Calculator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Financial" />
        </activity>
        <activity android:name=".MiscellaneousCalculator"
            android:label="Miscellaneous Calculator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Financial" />
        </activity>
    </application>

</manifest>